---
import { Image } from 'astro:assets';
---

<header role="banner">
  <div class="container" role="navigation" aria-label="Menu principal">
    <a href="/" class="logo" aria-label="Page d'accueil - Nom de l'entreprise">
      <Image src="/assets/images/logo.webp" alt="Logo BHB Conseil" width={100} height={40} loading="eager" />
    </a>

    <div class="burger-menu" id="burger-menu" aria-label="Ouvrir/fermer le menu">
      ☰
    </div>

    <nav id="nav-menu" aria-label="Navigation principale">
      <ul role="list" aria-label="Liens de navigation principaux">
        <li><a href="/about" aria-label="À propos de nous">À propos</a></li>
        <li><a href="/services" aria-label="Nos services">Nos services</a></li>
        <li><a href="/pricing" aria-label="Nos tarifs">Nos tarifs</a></li>
      </ul>
    </nav>

    <a href="/contact" class="contact-button" aria-label="Nous contacter">
      Contact
    </a>
  </div>
</header>

<script>
  // @ts-nocheck
  document.addEventListener('DOMContentLoaded', () => {
    const burgerMenu = document.getElementById('burger-menu');
    const navMenu = document.getElementById('nav-menu');

    burgerMenu.addEventListener('click', () => {
      navMenu.classList.toggle('nav-active');
      burgerMenu.classList.toggle('open');

      if (burgerMenu.classList.contains('open')) {
        burgerMenu.textContent = "✕";
      } else {
        burgerMenu.textContent = "☰";
      }
    });
  });
</script>

